/*

COLOR PALETTE

WHITE: #FEFEFE
BLACK: #000000
TEXT INPUT BACKGROUND: #EEEEEE
ADD BUTTON: #FFCC68
DELETE BUTTON: #FF9548
CHORE: #FBDF7C

*/

html,
body {
    margin: 0;
    padding: 0;
}

body,
input,
.chores {
    text-align: center;
}

body {
    background-color: #FEFEFE
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 50px;
    padding: 15px;
}

button {
    width: 82px;
}


.container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.chores-list,
.container {
    gap: 15px;
}

input {
    width: 441px;
    height: 95px;
    background-color: #EEEEEE;
    color: black;
}

input::placeholder {
    color: #A4A4A4;

}

input,
input::placeholder,
button,
#chore-text {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

input,
button,
.chore {
    border-radius: 10px;
    border: none;
}

#add-chore {
    background-color: #FFCC68;
}

#clear-chores {
    background-color: #FF9548;
}

#add-chore:hover {
    background-color: #FFBB35;
}

#clear-chores:hover {
    background-color: #FF7715;
}

#add-chore:hover,
#clear-chores:hover,
.chore:hover {
    cursor: pointer;
}

.chore {
    background-color: #FBDF7C;
    width: 639px;
    height: 92px;
    box-sizing: border-box;
}

.chore:hover {
    background-color: #F9D34B;
}

.chores-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 5px;
}

#chores-finished {
    display: none;
}

.chore,
#chores-finished {
    margin: 0 auto;
}